<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'home')}">


<body>
    <div style="background-color: azure; border: 4px solid;padding-top: 30px;">
        <h2 style="text-align:center;">Información de la API CRM</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum distinctio exercitationem consequatur odit ipsam, officia tenetur reiciendis. Sint eaque aperiam officiis eos repellat nostrum velit ad tempore. Rem, ducimus inventore nobis animi reiciendis cum explicabo culpa itaque perspiciatis? Perspiciatis est eveniet eum iure! Facilis doloribus perferendis, ipsam velit temporibus quod facere enim, nemo eos quam minima pariatur aspernatur fugit repellendus dolorum quibusdam iste hic consectetur! Delectus ipsum et tempore omnis! Nobis id adipisci eaque velit assumenda odit deleniti repellendus eos fuga tenetur nemo itaque, maxime illo mollitia illum eius perferendis modi esse soluta sint. Ab rerum iusto hic fugiat ea!</p>
    </div>
</body>

</html>